
/** Font Used **/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,700');
// font-family: 'Poppins', sans-serif;



/** Font Awesome **/
@import url('font-awesome.min.css');

@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
