/************* Header *************/
header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 999;
  padding: 10px 0;
  background: #fff;
  border-bottom: solid 1px #e2e2e2;

  .navbar {
    border: none;
    padding: 0;
    border-radius: 0;

    .navbar-brand {
      padding: 13px 0 14px;
      margin: 0;
    }

    .navbar-collapse {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      .login-area {
        margin: -15px 0 em(25);
        padding: 0;
        text-align: right;

        li {
          display: inline-block;
          margin-left: em(12);

          a {
            display: block;
          }
        }
      }

      .navbar-nav {
        .nav-item,
        li {
          display: inline-block;
          margin-left: em(50);
          vertical-align: bottom;

          .nav-item,
          a {
            padding: 0;
            color: #000;
            font-size: em(16);
            letter-spacing: 0.02em;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              bottom: -28px;
              left: 0;
              right: 0;
              height: 3px;
              opacity: 0;
              background: $primary-color;
            }

            cite {
              position: absolute;
              top: -5px;
              right: 1px;
              min-width: 14px;
              min-height: 14px;
              text-align: center;
              line-height: 10px;
              font-style: normal;
              background: #000;
              border-radius: 100%;
              color: #fff;
              font-size: 10px;
              padding: 2px;
            }

            svg#CartIcon {
              width: 19px;
              height: 19px;
              fill: $primary-color;
              position: relative;
              display: block;
              top: 2px;
              margin-right: 13px;
            }
            &:hover, &:focus{
              color: $primary-color;
            }
          }

          &.active {
            .nav-item,
            a {
              color: #000;
              &:after{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
