/******* Main layout Starts here *******/
@media screen and (min-width:1400px) {
  .container {
    max-width: 1370px;
  }
}; // banner

.banner {
  @include bg-cover(cover, 0 0);
  position: relative;
  height: 835px;
  @include breakpoint(desktop) {
    height: 690px;
  };

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(#0d9084, 0.24);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .banner-text {
      text-align: center;
      padding: 0 6%;

      h1 {
        font-size: em(55);
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin-bottom: em(3);
        text-shadow: 0 0 33px rgba(0, 0, 0, 0.95);
      }

      p {
        font-size: em(19);
        color: #fff;
        line-height: 1.7;
        letter-spacing: 0.02em;
        margin-bottom: em(20);
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.95);
      }
    }
  }

  &.inner-banner {
    @include breakpoint(desktop) {
      height: 560px;
    };

    &:before {
      display: none;
    }

    .container {
      align-items: flex-start;
      justify-content: flex-start;
    }

    .banner-text {
      padding: 23% 0 0 15%;
      text-align: left;
      @include breakpoint(desktop) {
        padding: 17% 0 0 20%;
      };

      h1 {
        color: #57585b;
        font-weight: 300;
        font-size: em(50);
        text-transform: uppercase;
        text-shadow: none;
        margin-bottom: 25px;
        @include breakpoint(desktop) {
          font-size: em(40);
        };
      }
      @include breakpoint(desktop) {
        .btn {
          font-size: em(18);
        }
      };
    }
  }

  &.small-banner {
    height: 580px;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#000, 0.40);
    }

    .container {
      align-items: center;
      justify-content: center;
    }

    .banner-text {
      padding: 0;
      text-align: center;
      color: #000;

      h1 {
        font-size: em(80);
        color: #fff;
        font-weight: 500;
      }
    }
  }
}
// Service section

.services-section {
  box-shadow: 0 0 21px rgba(#000,0.16);
  background: url("../images/pattren-img.png");
  padding: 50px;
  position: relative;
  z-index: 10;
  margin-top: -100px;
  border-radius: 8px;

  .service-post {
    display: block;
    position: relative;

    figure {
      display: block;
      border-radius: 8px;
      margin: 0;
    }

    .circle-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 57px;
      height: 57px;
      line-height: 57px;
      border-radius: 100%;
      background: #000;
      text-align: center;
      margin: -27px auto 0;
      position: relative;
      z-index: 5;
      @include breakpoint(desktop) {
        width: 45px;
        height: 45px;
        margin-top: -22px;
      };

      svg {
        width: 40px;
        height: 15px;
        fill: #fff;
        display: block;
      }
    }
  }

  .row {
    div[class*="col-"] {
      &:first-child {
        .service-post {
          .circle-btn {
            background: #4b8b68;
          }
        }
      }

      &:nth-child(2) {
        .service-post {
          .circle-btn {
            background: #c5836b;
          }
        }
      }

      &:nth-child(3) {
        .service-post {
          .circle-btn {
            background: #ad7b74;
          }
        }
      }

      &:last-child {
        .service-post {
          .circle-btn {
            background: #0e8184;
          }
        }
      }
    }
  }
}
// Shop Section

.shop-section {
  div[class="row"] {
    position: relative;

    div[class*="col-"] {
      position: static;
      align-items: flex-start;
      display: flex;
    }
  }

  figure {
    position: relative;
    z-index: 5;

    img {
      border-radius: 12px;
    }
  }
}

.shop-section-text {
  margin-top: em(60);
  padding: em(60);
  position: relative;
  @include breakpoint(desktop) {
    padding: em(40) em(40) em(40) 10px;
  };

  & * {
    position: relative;
    z-index: 5;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -48%;
    right: 0;
    bottom: 0;
    border: solid 3px #e2e2e2;
    border-radius: 12px;
    z-index: 1;
  }
}
// Featured Section

.featured-post {
  display: block;

  figure {
    display: block;
    margin: 0;
    @include bg-cover;
    height: 13vw;
    position: relative;
    @include transition;
    top: 0;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: url("../images/rainbow-line.png");
      width: 100%;
      height: 4px;
      @include transition;
      z-index: 8;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -12px;
      left: -20px;
      background: url("../images/cutter.png") no-repeat;
      background-position: center;
      width: 29px;
      height: 24px;
      transition: left 0.4s ease-in-out;
      z-index: 9;
    }
  }

  .featured-post-text {
    padding: em(18) em(15);
    text-align: center;
    background: url("../images/pattren-img.png");
    box-shadow: 1px 0 22px rgba(#000, 0.10);
    @include transition;
    position: relative;
    z-index: 5;

    p {
      font-size: em(15);
      font-weight: 300;

      a {
        color: #000;

        &:focus,
        &:hover {
          color: $secondary-color;
        }
      }
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: block;
        width: 50%;
      }

      cite {
        font-style: normal;
        font-size: em(19);
        color: $primary-color;
        letter-spacing: 0.03em;

        &:first-child {
          font-weight: 500;
          font-size: em(16);
        }
      }
    }
  }

  &:hover {
    figure {
      transform: rotate(1deg);
      top: -11px;

      &:before {
        transform: rotate(-1deg);
        bottom: -14px;
        left: 80%;
      }
    }

    .featured-post-text {
      transform: rotate(-1deg);
      top: 2px;
    }
  }
}
// Discover More Section

.discover-more-section {
  overflow: hidden;
  height: 190px;
  position: relative;

  figure {
    @include bg-cover;
    margin: 0;
    position: relative;
    height: 100%;
    transition: all 1.9s ease-in-out;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    figure {
      transform: scale(1.2);
    }
  }
}
// Partners section

.partners-section {
  background: $off-white;

  .owl-carousel {
    .item {
      text-align: center;

      img {
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
}
// Search Nearby

.search-nearby-section {
  position: relative;
  padding-bottom: 0;

  .dummy,
  iframe {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    height: 515px;
    z-index: 1;
    @include breakpoint(desktop){
      height: 380px;
    };
  }

  .dummy {
    @include bg-cover;
  }

  .search-nearby-map {
    position: relative;
  }

  .search-nearby-form {
    position: absolute;
    top: 34px;
    left: 45px;
    width: 395px;
    background: #fff;
    box-shadow: 3px 0 10px rgba(#000, 0.17);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;

    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 345px;
      padding-right: 1px;

      input {
        width: 100%;
        height: 50px;
        border: solid 1px transparent;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        padding: 2px 10px 2px 15px;
      }

      .search-nearby-btn {
        width: 60px;
        height: 50px;
        text-align: center;
        background: transparent;
        box-shadow: none;
        border: none;
        color: #b3b3b3;
        cursor: pointer;
        font-size: 18px;
        @include transition;

        &:hover {
          background: $primary-color;
          color: #fff;
        }
      }
    }

    .close-search-nearby {
      display: block;
      width: 52px;
      height: 50px;
      text-align: center;
      background: transparent;
      box-shadow: none;
      border: none;
      color: #b3b3b3;
      position: relative;
      font-size: 18px;
      @include transition;
      cursor: pointer;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &:hover {
        background: $primary-color;
        color: #fff;
      }

      &:before {
        content: "";
        position: absolute;
        top: 10px;
        bottom: 10px;
        width: 1px;
        left: -1px;
        background: #dddddd;
      }
    }

    &.closeBar {
      width: 50px;
      border-radius: 100%;

      form {
        width: 0;
        padding: 0;

        & * {
          width: 0;
        }
      }

      .close-search-nearby {
        width: 50px;
        height: 50px;
        background: $primary-color;
        color: #fff;
        border-radius: 100%;

        &:before {
          display: none;
        }

        .fa-times:before {
          content: "\f002";
        }
      }
    }
  }
}
/***** My Cart page *****/
.my-cart-page {
  .my-cart-table {
    table {
      width: 100%;

      td,
      th,
      tr {
        text-align: center;
      }

      th {
        background: #f4f4f4;
        font-weight: 400;
        font-size: em(16);
        color: #000;
        letter-spacing: 0.02em;
        padding: 15px 25px;
        border-right: solid 1px #dfdfdf;

        &:last-child {
          border-right-color: #f4f4f4;
          text-align: left;
        }
      }

      td {
        padding: 26px;
        font-size: em(15);
        font-weight: 400;
        letter-spacing: 0.03em;
        color: #000;
        border: solid 1px #dfdfdf;

        cite {
          font-style: normal;
          display: inline-block;
        }

        &:first-child {
          font-size: em(16);
          font-weight: 500;

          figure {
            @include bg-cover;
            width: 81px;
            height: 68px;
            margin: 0;
            display: inline-block;
            vertical-align: middle;
          }

          div {
            display: inline-block;
            width: calc(100%- 90px);
            padding-left: 15px;
            vertical-align: middle;
          }
        }

        &:last-child {
          text-align: left;

          cite,
          ul {
            display: inline-block;
            vertical-align: middle;
          }

          ul {
            margin: 0 0 0 25px;
            padding: 0;

            li {
              display: inline-block;
              vertical-align: middle;
              margin-left: 25px;

              a {
                color: #9a9a9a;
                letter-spacing: 0.02em;

                svg {
                  display: inline-block;
                  width: 13px;
                  height: 13px;
                  vertical-align: middle;
                  margin-right: 5px;
                  fill: #9a9a9a;
                  @include transition;

                  &.EyeIcon {
                    width: 17px;
                    height: 15px;
                  }
                }
              }

              &:first-child {
                a:hover {
                  color: #f00;

                  svg {
                    fill: #f00;
                  }
                }
              }

              &:last-child {
                a:hover {
                  color: #0e9c0e;

                  svg {
                    fill: #0e9c0e;
                  }
                }
              }
            }
          }
        }
      }

      tr {
        &:nth-child(2) {
          td {
            border-top: none;
          }
        }
      }
    }
  }
}
/***** My Cart page end *****/
/***** Checkout page *****/

.checkout-page {
  h5 {
    margin-bottom: em(15);
  }

  .total-Product-table {
    border-top: solid 1px #dddddd;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 35px;

    table {
      width: 100%;

      td {
        padding: 14px 35px;
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;

        &:last-child {
          font-weight: 500;
        }
      }
    }
  }

  .accept-terms {
    margin-bottom: 35px;
  }

  .btn {
    width: auto;
  }

  .order-summary {
    border: solid 1px #dfdfdf;
    padding: 35px 30px 12px;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;
        width: 100%;
        list-style: none;
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 15px;
        min-height: 85px;
        padding-left: 95px;
        border-bottom: solid 1px #dfdfdf;

        figure {
          @include bg-cover;
          width: 81px;
          height: 68px;
          position: absolute;
          top: 2px;
          left: 0;
        }

        h6 {
          font-weight: 500;
          font-size: em(18);
          margin-bottom: 2px;

          a {
            color: #000;

            &:focus,
            &:hover {
              color: $primary-color;
            }
          }
        }

        cite {
          font-style: normal;
          display: block;
        }
      }
    }

    table {
      width: 100%;

      td {
        font-size: em(16);
        text-transform: uppercase;

        &:last-child {
          font-weight: 500;
          text-align: right;
        }
      }
    }
  }
}
/***** Checkout page end *****/
// Deals Pages

.about-section {
  .heading {
    h2 {
      text-align: left;
      margin-bottom: 20px;
    }
  }

  .align-right {
    float: right;
    margin-left: 40px;
    margin-bottom: 20px;

    iframe {
      width: 705px;
      height: 420px;
    }
  }

  h5 {
    margin-bottom: 15px;
    font-weight: 600;
  }

  ul {
    margin: 0 0 20px;
    padding: 0;

    li {
      display: block;
      list-style: none;
      width: 100%;
      position: relative;
      padding-left: 18px;
      font-size: em(15);
      letter-spacing: 0.02em;
      line-height: 1.5;
      margin-bottom: 10px;

      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 6px;
        background: $primary-color;
        border-radius: 100%;
      }
    }
  }
}

.deals-section {
  background: #fafafa;

  .deals-filter-strip {
    background: #fff;
    box-shadow: 0 0 13px rgba(#000, 0.05);

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nav-tabs {
      margin: 0;
      padding: 0;
      border: none;

      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 70px;
        @include breakpoint(desktop) {
          margin-right: 40px;
        };

        a {
          padding: 20px 0;
          border: none;
          font-size: em(17);
          color: #000;
          position: relative;
          min-height: 69px;

          &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right:0;
            height: 2px;
            background: $primary-color;
            opacity: 0;
          }

          img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
          }
          &:hover{
            color: $primary-color;
          }
          &.active{
            color: #000;
            &::after{
              opacity: 1;
            }
          }
        }
      }
    }

    .extra-filter {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          vertical-align: middle;
          margin-left: 25px;

          .form-group {
            margin: 0;

            select.form-control {}
          }
        }
      }
    }
  }

  .deals-list {
    padding: 50px 0 20px;

    .featured-post {
      margin-bottom: 30px;

      figure {
        height: 13.1vw;
      }
    }

    .deal-by {
      text-align: right;

      cite {
        font-style: normal;
        font-size: em(15);
        color: $primary-color;

        &:before {
          content: "-";
          display: inline-block;
          margin-right: 3px;
        }
      }
    }
  }
}

.counter {
  text-align: center;
  margin: 20px auto 30px;
  display: block;
  font-size: em(26);
  line-height: 1.5;
  color: #282828;

  i,
  span {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    font-family: sans-serif;
    text-align: center;
    min-width: 45px;
    text-rendering: optimizeLegibility;
    position: relative;
    background-color: #7f807f;
    margin: 0 10px;
    padding: 5px 2px;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 1px 0.5px rgba(white, 0.4);
    border: 1px solid #6c6e6c;
    text-shadow: 0 0 2px black;

    &.days {
      &:before {
        content: "DAYS";
      }
    }

    &.hours:before {
      content: "HOUR";
    }

    &.minutes:before {
      content: "MIN";
    }

    &.seconds:before {
      content: "SEC";
    }

    &:before {
      bottom: -20px;
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      color: #7f807f;
      font-size: 10px;
      font-weight: 600;
      text-shadow: none;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      margin-top: 0.5px;
      background-color: #7f807f;
      box-shadow: 0 -1px 0 rgba(black, 0.1), 0 1px 0 rgba(white, 0.1);
    }
  }

  i {
    font-style: normal;
  }
}

.service-section-inner {
  .service-post {
    h5 {
      font-size: em(25);
      background: #fff;
      padding-right: 15px;
      margin-bottom: 30px;

      &:after {
        content: "";
        display: inline-block;
        width: 85px;
        height: 2px;
        background: $primary-color;
        margin-left: 25px;
        vertical-align: middle;
      }
    }

    figure {
      @include bg-cover;
      background-size: 100%;
      width: 100%;
      @include transition;
      @include breakpoint(desktop) {
        height: 22.9vw;
      };

      img {
        width: auto;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
// Deals Pages End
// Deals Detail Pages

.product-detail-area {
  .slider {
    margin: 0 0 40px;

    .slides {
      figure {
        display: block;
        margin: 0;
        @include bg-cover;
        height: 102px;
      }

      li {
        border: solid 2px transparent;

        &.flex-active-slide {
          border-color: $primary-color;
        }
      }

      &.large-slides {
        li {
          border: none;
        }

        figure {
          height: 25vw;
        }
      }
    }

  }

  article {
    padding-bottom: 35px;
    margin-bottom: 30px;
    border-bottom: solid 1px #d9d9d9;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    h4 {
      margin-bottom: 10px;
    }

    .table-cover {
      display: table;
      width: auto;
      table-layout: auto;

      .table-row {
        display: table-row;

        .table-cell {
          display: table-cell;
          width: auto;
          padding-right: 40px;
          padding-bottom: 15px;
          font-size: em(15);
          letter-spacing: 0.02em;
          line-height: 1.8;

          img {
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
          }

          &:last-child {
            color: #9f9f9f;
          }
        }

        &:last-child {
          .table-cell {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  address {
    .address-heading {
      position: relative;
      padding-left: 78px;
      height: 60px;
      margin-bottom: 15px;

      span {
        width: 57px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        border: solid 1px #e8e9ea;

        .fa {
          font-size: 26px;
          color: rgba(#000, 0.8);
        }
      }

      h5 {
        small {
          display: block;
          color: #9f9f9f;
          font-size: 14px;
          padding-top: 10px;
        }
      }
    }

    .address-group {
      iframe {
        margin: 0;
        display: block;
        width: 100%;
        height: 245px;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          display: flex;
          list-style: none;
          position: relative;
          border: solid 1px #d9dbdd;
          margin-bottom: -1px;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding: 15px 15px 15px 40px;

          div {
            width: 50%;

            &:nth-child(2) {
              text-align: right;
            }

            a {
              color: blue;

              &:after,
              &:hover {
                color: $primary-color;
              }

              &.green-link {
                color: $primary-color;
                font-size: 16px;

                &:after,
                &:hover {
                  color: $secondary-color;
                }
              }
            }

            p {
              margin: 0;

              a {
                color: #757779;

                &:after,
                &:hover {
                  color: $primary-color;
                }
              }
            }
          }

          &:before {
            content: "";
            position: absolute;
            font: normal normal normal 16px/1 FontAwesome;
            top: 19px;
            left: 15px;
            color: #757779;
          }

          &:first-child {
            &:before {
              content: "\f041";
              font-size: 22px;
            }
          }

          &:nth-child(2) {
            &:before {
              content: "\f095";
            }
          }
        }
      }
    }
  }

&.gift-cart-preview{
  border-bottom: solid 1px #d9d9d9;
  .slider {
    .slides {
      li{
        border-color: #d9d9d9;
        &.flex-active-slide{
          border-color: $primary-color;
        }
      }
      figure{
        height: 203px;

      }
      &.large-slides{
        figure{
          height: auto;

        }
      }
    }
  }
}

}

.product-detail-info {
  padding-left: 60px;

  @include breakpoint(desktop){
    padding-left: 35px;
  };

  &.gift-card-detail-info{
    padding-left: 40px;
  }

  article {
    border-bottom: solid 1px #d9d9d9;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: block;

    &:last-of-type {
      border-bottom: none;
    }

    h4 {
      font-weight: 600;
      font-size: em(24);
      margin-bottom: 10px;
      letter-spacing: 0.04em;
    }

    h5 {
      font-weight: 300;
      font-size: em(20);
      letter-spacing: 0.02em;
      margin-bottom: 5px;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .price {
      p {
        font-size: em(26);
        color: $primary-color;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 12px;

        cite {
          font-style: normal;
          font-size: 18px;
          font-weight: 400;
          color: #000;
          display: inline-block;
          margin-right: 3px;
          text-decoration: line-through;
          text-decoration-color: #000;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .off-price {
        display: inline-block;
        background: #fdd5be;
        color: #000;
        padding: 0 15px;
        border-radius: 30px;
        font-weight: 600;
        font-size: em(14);
        line-height: 1.9;
        margin-bottom: 5px;
        margin-top: 12px;
      }
    }

    .buy-btn {
      line-height: 2.6;
      font-size: em(20);
      margin-bottom: 15px;
      min-width: 150px;
    }

    .white-btn {
      font-size: em(25);
      width: 100%;
      margin: 15px 0 0;
      padding-top: 5px;

      svg {
        position: relative;
        top: -5px;
        width: 38px;
        height: 35px;
        display: inline-block;
        vertical-align: middle;
        @include transition;
      }

      &:hover {
        svg {
          fill: #fff;
        }
      }
    }
  }

  .share-deal {
    h6 {
      font-size: em(18);
      color: #7e7e7e;
      margin-bottom: 15px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border: solid 2px #7e7e7e;
          border-radius: 100%;
          color: #7e7e7e;

          .fa-envelope-o {
            font-size: 18px;
            position: relative;
            top: -1px;
          }

          &:focus,
          &:hover {
            color: #fff;
            background: $primary-color;
            border-color: $primary-color;
          }
        }
      }
    }
  }

  .deal-by {
    text-align: right;

    cite {
      font-style: normal;
      font-size: em(15);
      color: $primary-color;

      &:before {
        content: "-";
        display: inline-block;
        margin-right: 3px;
      }
    }
  }

  .add {
    margin: 30px 0;

    a {
      display: block;
      transform: scale(1);
      transition-duration: 1.3s;

      &:hover {
        transform: scale(1.07);
      }
    }
  }
}

.similar-product {
  background: #f8f8f8;

  .item {
    padding-left: 21px;
    padding-bottom: 20px;
  }

  #SimilarGiftCardSlider{
    padding: 0 25px;
    .item {
      padding: 15px;
    }
  }
}
// Deals Detail Pages End
//Gift Cards

.gift-card-section{
  padding-bottom: 50px;
}

.gift-card-post {
  display: block;
  background: rgba(#000, 0.5);
  margin-bottom: 30px;

  figure {
    @include bg-cover;
    height: 245px;
    width: 100%;
    margin: 0;
    opacity: 0.8;
    @include transition;
    transition-duration: 0.6s;
  }

  .gift-card-link {
    display: block;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 18px;
      background: #f4f4f4;
      color: #000;
      font-size: em(22);
      letter-spacing: 0.03em;
      font-weight: 500;

      svg {
        width: 30px;
        height: 18px;
        color: #000;
        @include transition;
        display: block;
        fill: #000;
      }

      &:hover {
        background: $primary-color;
        color: #fff;
        padding-left: 25px;
        padding-right: 25px;

        svg {
          fill: #fff;
        }
      }
    }
  }

  &:hover {
    figure {
      opacity: 1;
    }
  }
}

.similar-gift-card-post{
  figure{
    width: 100%;
    height: auto;
    a{
      img{
        opacity: 0.95;
        box-shadow: 9px 6px 10px rgba(0, 0, 0, 0.20);
        @include transition;
      }
      &:hover{
        img{
          opacity: 1;
          box-shadow: 9px 6px 20px rgba(0, 0, 0, 0.40);
        }
      }
    }
  }
}

.owl-carousel-cover{
  margin: 0 -35px;
}

//Merchant Page

.merchant-page{
  .merchant-form{
    h2{
      &:after{
        margin-left: auto;
        margin-right: auto;
      }
    }
    .form-group {
      margin-bottom: 25px;

      &.live-search {
        .form-control {
          background: #fff url("../images/search-icon.png") no-repeat;
          background-position: 97% 50%;
          padding-right: 40px;
        }
      }

      &.my-checkbox-group {
        label span.my-custom-checkbox {
          border-radius: 2px;
          width: 16px;
          height: 16px;
          top: 4px;
        }
      }
    }
  }
}
